/* predix */
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/* end of prefix */

body {
}
aside {
  background-color: #273747;
  position: fixed;
  width: 22vw;
  height: 1080px;
}

article {
  display: grid;
  grid-template-columns: 22vw auto;
}

.main {
  grid-column-start: 2;
}

aside img {
  width: 135px;
  height: 135px;
}

aside ul {
  list-style-type: none;
  margin-right: 40px;
  margin-bottom: 30px;
  font-family: "Fjalla One", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #eee;
}

.icons {
  display: flex;
  justify-content: center;
  width: 100px;
}

li {
  margin: 20px 0;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

aside div img {
  margin: 60px 0 0 0;
}

aside div h5 {
  color: #eee;
  font-family: "Charmonman", cursive;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 5px;
}
aside div h5:last-of-type {
  color: #eee;
  font-family: "Charmonman", cursive;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 85px;
}

.item {
  margin: 0 10px;
}

a:hover {
  color: #3dc6ea;
  transition: 0.5s;
}
a {
  transition: 1s;
}
